[client] 
#Settings for other clients that connect to the database through sql server

[mysql]
prompt=(\\u@\\h) [\\d]>\\_
pager=vim -R -c 'set nomod nonu' -c 'set ft=sql'  -c 'silent call vimypager#Run()' -
tee=/tmp/save.sql #TODO write cron job to copy save.sql from /tmp to $HOME/... instead"


[mysqld]
general_log = 1
collation-server = utf8_unicode_ci

#Settings for SPEED!
key_buffer_size= 250G
read_buffer_size=2G
read_rnd_buffer_size=50M
join_buffer_size=25M
tmp_table_size = 5G
sort_buffer_size = 2G
innodb_buffer_pool_size = 2G
query_cache_limit       = 10M
query_cache_size        = 100M
max_connections        = 20
innodb_buffer_pool_instances  = 16
innodb_buffer_pool_size = 16G
innodb_log_file_size = 1G
innodb_thread_concurrency = 28


[mysqldump]
