[mysql]
prompt=(\\u@\\h) [\\d]>\\_
pager=vim -R -c 'set nomod nonu' -c 'set ft=sql'  -c 'silent call vimypager#Run()' -
tee=/tmp/save.sql #TODO write cron job to copy save.sql from /tmp to $HOME/... instead"

[client] 

[mysqld]
general_log = 'ON'
collation-server = utf8_unicode_ci

[mysqldump]
